a {
  text-decoration: none;
  color:black;
}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
  color: black;
}

form{
  margin-top: 5em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.black{
  color:black;
}

.container-fluid{
  padding-bottom: 5em;
}

.hor-pad{
  margin-left: auto;
  margin-right: auto;
}

.pad{
  margin-bottom: 1.5em;
}

.pagination{
  width:100%;
  margin:0;
  padding:0;
  display: inline-flex;
}

.react-bs-table-pagination{
  width: 100%;
  height: auto;
  margin: auto;
}

.small{
  font-size: 50%;
}

.weather{
  background-color: black;
}

.white{
  color:white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#head{
  background-image: url("road.jpg");
  background-size: cover;
  background-color: darkgrey;
  background-blend-mode: multiply;
}
